html {
    scroll-behavior: smooth;
}

html, body, #container, #sidebar, .accordion-container {
    height: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#sidebar, .accordion-container {
    width: 250px;
}

#content {
    flex-grow: 1;
}

.accordion-header {
    font-weight: bold;
    letter-spacing: .2em;
}
